@media (max-width: 555px) {
	/* track ------------------*/
	#track {
		bottom: 10% !important;
	}
	#track:before { left:70px; right:85px; }
	#track:after { display:none; }
	#track #ticker-moment:before { left:40%; }

	/* date ------------------*/
	#dates { left:15px; }
	#dates:before { display:none; }
}